@mixin formSelect {
  background: $form-bg-color;
  font-size: 1em;
  box-shadow: 0 0 1px black;
  //border-bottom: 2px solid black;
  border: none;
  height: 45px;
  min-width: 280px;
  width: 25vw;
  box-sizing: border-box;
  padding: 10px;
  cursor: pointer;
  &:focus {
    outline: none;
  }

  @include mediaQuery($mediascreen-width-lg) {
    width: 35vw;
    min-width: 300px;
  }
}

@mixin table {
  display: grid;
  grid-template-columns: minmax(65px, 0.2fr) repeat(3, minmax(100px, 1fr)); //3columns
  span {
    padding: 15px;
  }
  .row-data {
    margin: auto 0;
  }
  .row-data.serial-no {
    text-align: center;
  }

  .row-data.title,
  .row-data.details {
    .app-title-playstore-link,
    .app-details-link {
      text-decoration: none;
      color: lighten(black, 20%);
    }
  }

  .row-data.details {
    .app-details-link {
      &:hover {
        font-weight: bold;

        i {
          transform: translateX(35%);
        }
      }

      i {
        transition: transform 0.15s ease-in;
      }
    }
  }

  .row-data.title {
    .app-title-playstore-link {
      &:hover {
        font-weight: normal;
        text-decoration: underline;
      }
    }
  }

  @include mediaQuery($mediascreen-width-sm) {
    width: min-content;
    padding: 0;
  }
}

//mediaquery
@mixin mediaQuery($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

//keyframes
@mixin keyframes($animation-name) {
  @keyframes #{$animation-name} {
    @content;
  }
}
