//colors
$primary: #038e92;
$secondary: #ffe500;
$extra: #bcd6ff;//#3f51b5;

//background
$form-bg-color:white; //#ffffff69;

//mediaQuery
$mediascreen-width-lg: 1080px;
$mediascreen-width-md: 760px;
$mediascreen-width-sm: 400px; // screen width for responsive 4 col table

//fonts
$font-family-titles: "Lato", sans-serif;
$font-family-body: "Rubik", sans-serif;

$font-size-md:1em;
$font-size-lg:2.5em;
$font-size-xl:4em;

//leaderboard title
$box-size-md:30px;
$border-width:3px;

//searchbox
$search-box-height:42.67px;;

//border
$border-color: #00000012;

//table
$table-row-hover-bg:#dbe9ff;

//padding, margin
$padding-margin-xl: 70px;
$padding-margin-lg: 60px;
$padding-margin-md: 40px;
$padding-margin-sm: 20px;

//app-details
$app-img-height:250px;
$app-img-width:512px;
