@import "./scss/_variables.scss";
@import "./scss/_mixins.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: lighten(black, 20%);
  font-family: $font-family-body;
}

.main-form-container {
  background-image: url(https://images.pexels.com/photos/1440722/pexels-photo-1440722.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-position-y: top;
  background-attachment: fixed;
  padding: 90px 0;
  display: grid;
  row-gap: $padding-margin-lg;
}

.toggle-btn-container {
  width: fit-content;
  margin: auto;
  padding: 10px;
  display: grid;
  justify-items: center;
  .category-title {
    margin-bottom: 10px;
    color: white;
    text-transform: uppercase;
    font-family: $font-family-titles;
  }
}

.option-selection-form {
  display: grid;
  row-gap: $padding-margin-md;
  z-index: 2; /* greater than leaderboard-title */
  .selectors-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    justify-self: center;
    width: 82vw;
    z-index: 3; /* greater than go-btn */
    @include mediaQuery($mediascreen-width-lg) {
      display: grid;
      align-content: center;
      justify-items: center;
      row-gap: $padding-margin-md;
    }

    .form-input,
    .app-type-form {
      @include formSelect;
      border-radius: 5px;
    }

    .select__control {
      @include formSelect;

      padding: 0;
      &:hover {
        border-bottom-color: black;
      }

      svg {
        color: black;
      }

      .css-1okebmr-indicatorSeparator {
        display: none;
      }

      .css-1gtu0rj-indicatorContainer {
        //dropdown caret icon container
        transform: rotate(180deg);
      }

      .select__indicator {
        transition: transform 0.15s ease-in;
      }
    }

    #country {
      .css-1wa3eu0-placeholder {
        color: #00000085;
      }
    }

    #category {
      opacity: 0;
      animation: fade-in 0.2s ease-in normal forwards;
    }
  }
  #go-btn,
  #go-btn-loading {
    width: fit-content;
    margin: 0 auto;
    background: darken($secondary, 3%);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    font-size: $font-size-md;
    transition: background 0.15s ease-in;
    padding: 10px 40px;
    overflow: hidden;
    position: relative;
    &:hover,
    &:focus {
      background: lighten($secondary, 0%);
      .btn-label {
        i {
          transform: translateX(35%) scale(1.5);
        }
      }
    }
    .btn-label {
      color: white;
      position: relative;
      z-index: 1;
      i {
        color: white;
        transition: transform 0.15s ease-in;
      }
    }
  }

  #go-btn-loading {
    &:after,
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 30px;
      height: 40px;
      transform: skewX(-10deg);
      background: lighten($secondary, 20%);
      animation: move-right 0.7s ease-in 0s infinite;
    }
    &:after {
      animation-delay: 0s;
    }
    &:before {
      animation-delay: 0.2s;
    }
  }
}

.search-box {
  max-width: fit-content;
  position: relative;
  margin: 30px 10vw 0 auto;

  @include mediaQuery($mediascreen-width-md) {
    margin: 0px auto;
  }

  .search-field {
    width: 20vw;
    min-width: 300px;
    font-size: $font-size-md;
    padding: 12px;
    padding-right: 35px;
    border: none;
    background: #ffffff;
    box-shadow: 0 8px 5px -5px #a5a5a5;
    transition: box-shadow 0.15s ease-in;
    &:focus {
      outline: none;
      box-shadow: 0 8px 5px -2px #a5a5a5;
    }
  }

  .search-btn {
    border: none;
    background: transparent;
    position: absolute;
    color: lighten(black, 20%);
    font-size: 20px;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
}

.leaderboard {
  background: whitesmoke;
  padding: $padding-margin-xl 0;
  display: grid;
  row-gap: $padding-margin-lg - 5;

  .leaderboard-title-container {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      border-top: $border-width + 2 solid white;
      width: 630px;
      box-shadow: 0 3px 8px #333333;
      @include mediaQuery($mediascreen-width-md) {
        width: 95%;
      }
    }

    .leaderboard-title {
      background-image: linear-gradient(180deg, #f5f5f5, #f5f5f5, #027679, #05eff6);
      background-size: 100% 300%;
      background-repeat: no-repeat;
      transition: background-position 0.5s ease-in,box-shadow 0.5s ease-in, color 0.15s ease-in;

      font-size: $font-size-xl - 1;
      font-family: $font-family-titles;
      width: fit-content;
      border: $border-width solid lighten(black, 20%);
      padding: 5px;
      margin: 0 auto;
      position: relative;
      z-index: 1;
      @include mediaQuery($mediascreen-width-md) {
        font-size: $font-size-lg - 0.5;
      }

      &:before,
      &:after {
        content: "";
        position: absolute;
        bottom: -$border-width;
        height: $box-size-md;
        width: $box-size-md;
        background: lighten(black, 20%);
      }
      &:before {
        left: -$box-size-md - $border-width;
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
      }
      &:after {
        right: -$box-size-md - $border-width;
        clip-path: polygon(0 0, 0% 100%, 100% 100%);
      }
    }
  }

  #table-container {
    background: white;
    width: 80%;
    margin: 0 auto;
    @include mediaQuery($mediascreen-width-md) {
      overflow-x: scroll;
      overflow-y: hidden;
      width: 95%;
    }

    #table-title {
      @include table;
      background-image: linear-gradient(90deg, #000000ad, black);
      font-size: 1.3em;
      .title {
        font-weight: bold;
        color: white;
        font-family: $font-family-titles;
        text-transform: uppercase;
        padding: 20px 15px;
      }
    }

    .table-row,
    .table-row-loading {
      @include table;
      border-bottom: 1px solid $border-color;
      opacity: 0; //for animation below
      transition: transform, background 0.15s ease-in;
      animation-fill-mode: forwards;
      &:last-child {
        border: none;
      }
    }

    .table-row {
      &:hover {
        background: lighten($extra, 10%) /* $table-row-hover-bg */;
        transform: scale(1.01);
        border: none;
        box-shadow: 0 5px 10px $extra;
      }
    }

    .table-row-loading {
      opacity: 1;
      padding: 45px 0;
      position: relative;
      overflow: hidden;
      background: rgb(238, 238, 238);

      &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: -100%;
        height: 85%;
        width: 100%;
        background: linear-gradient(-90deg, rgb(233, 233, 233), rgb(231, 231, 231));
        transform: translateY(-50%);
        animation: move-right 1s ease-in-out 0s infinite;
      }
    }
  }
}

/* pagination */
.pagination {
  margin-top: -50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  .page-numbers {
    margin: 5px;
    cursor: pointer;
    &:hover,
    &:target {
      color: darken($extra, 15%);
    }

    i.fas {
      font-size: $font-size-lg;
    }
  }
  .page-numbers.active {
    color: darken($extra, 15%);
  }
}

.app-details-container {
  background: whitesmoke;

  .app-details-header {
    padding: $padding-margin-xl 0;
    padding-bottom: 190px;
    display: grid;
    justify-items: center;
    row-gap: 20px;

    .app-title {
      font-size: $font-size-lg;
      text-align: center;
      padding: 0 20px;
    }

    .app-summary {
      padding: 0 20px;
    }
  }

  .app-details-body {
    display: grid;
    justify-items: center;
    background: $primary;
    position: relative;
    top: 0;
    bottom: 0;
    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 65%;
      background-repeat: no-repeat;
      background-size: cover;
      @include mediaQuery($mediascreen-width-md) {
        height: 40%;
      }

      @include mediaQuery($mediascreen-width-md) {
        height: 20%;
      }
    }

    &:before {
      top: 0;
      background-image: url("../assets/svg/wave-primary-top.svg");
      transform: translateY(-99%);
    }

    &:after {
      bottom: 0;
      background-image: url("../assets/svg/wave-primary-bottom.svg");
      transform: translateY(90%);
      z-index: -1;
    }

    .app-header-img-container {
      position: absolute;
      top: -($app-img-height/2);
      .header-img {
        width: 100%;
        @include mediaQuery($mediascreen-width-sm) {
          height: 45vw;
        }
      }
    }

    .app-description {
      margin-top: ($app-img-height/2);
      padding: ($padding-margin-md - 10) 0;
      display: grid;
      row-gap: 20px;
      width: 30vw;
      min-width: 400px;
      position: relative;

      @include mediaQuery($mediascreen-width-md) {
        width: 70vw;
        min-width: 240px;
      }

      @include mediaQuery($app-img-width) {
        margin-top: 30px;
      }

      .description-section {
        display: flex;
        justify-content: space-between;
        color: rgba(245, 245, 245, 0.822);

        .description-label {
          color: white;
          font-weight: bold;
          font-family: $font-family-titles;
          font-style:italic;
          font-variant: petite-caps;
        }
      }
    }

    .download-btn {
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;
      background: darken($secondary, 3%); //#90dc00;
      color: white;
      padding: 10px 20px;
      margin-top: $padding-margin-md;
      border-radius: 30px;
      transition: background, box-shadow 0.2s linear;

      &:hover {
        background: lighten($secondary, 0%);
        box-shadow: 0 0 15px lighten($secondary, 15%);
        i {
          transform: scale(1.2);
        }
      }

      i {
        color: white;
        margin-left: 5px;
        transition: transform 0.2s ease-in;
      }
    }
  }
}

.no-content {
  padding: $padding-margin-lg 0;
  font-size: 1em;
  text-align: center;
  opacity: 0;
  animation: fade-in 0.5s ease-in;
  animation-fill-mode: forwards;
  .alert {
    font-family: $font-family-titles;
    font-weight: bold;
    text-transform: uppercase;
    text-orientation: sideways-right;
    word-spacing: 5px;
    i {
      color: inherit;
      font-size: 1.5em;
    }
  }
  .alert-danger {
    color: red;
  }
  .no-data {
    color: $primary;
  }
  .no-data-img {
    width: 300px;
  }
}

//buttons
button[type="submit"] {
  &:focus {
    outline: none;
  }
}

//Increasing Animation Delay for Table Row
$increment: 0.5;
$delay-time: 0;
@for $i from 0 through 9 {
  $delay-time: $delay-time + $increment;
  .record#{$i} {
    animation: fade-in 0.5s ease-in;
    animation-delay: #{$delay-time}s;
  }
}

@include keyframes("fade-in") {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@include keyframes("move-right") {
  from {
    left: -100%;
  }
  to {
    left: 100%;
  }
}
