* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #333333;
  font-family: "Rubik", sans-serif;
}

.main-form-container {
  background-image: url(https://images.pexels.com/photos/1440722/pexels-photo-1440722.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-position-y: top;
  background-attachment: fixed;
  padding: 90px 0;
  display: -ms-grid;
  display: grid;
  row-gap: 60px;
}

.toggle-btn-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  padding: 10px;
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.toggle-btn-container .category-title {
  margin-bottom: 10px;
  color: white;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
}

.option-selection-form {
  display: -ms-grid;
  display: grid;
  row-gap: 40px;
  z-index: 2;
  /* greater than leaderboard-title */
}

.option-selection-form .selectors-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: center;
  width: 82vw;
  z-index: 3;
  /* greater than go-btn */
}

@media screen and (max-width: 1080px) {
  .option-selection-form .selectors-container {
    display: -ms-grid;
    display: grid;
    -ms-flex-line-pack: center;
        align-content: center;
    justify-items: center;
    row-gap: 40px;
  }
}

.option-selection-form .selectors-container .form-input,
.option-selection-form .selectors-container .app-type-form {
  background: white;
  font-size: 1em;
  -webkit-box-shadow: 0 0 1px black;
          box-shadow: 0 0 1px black;
  border: none;
  height: 45px;
  min-width: 280px;
  width: 25vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.option-selection-form .selectors-container .form-input:focus,
.option-selection-form .selectors-container .app-type-form:focus {
  outline: none;
}

@media screen and (max-width: 1080px) {
  .option-selection-form .selectors-container .form-input,
  .option-selection-form .selectors-container .app-type-form {
    width: 35vw;
    min-width: 300px;
  }
}

.option-selection-form .selectors-container .select__control {
  background: white;
  font-size: 1em;
  -webkit-box-shadow: 0 0 1px black;
          box-shadow: 0 0 1px black;
  border: none;
  height: 45px;
  min-width: 280px;
  width: 25vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  cursor: pointer;
  padding: 0;
}

.option-selection-form .selectors-container .select__control:focus {
  outline: none;
}

@media screen and (max-width: 1080px) {
  .option-selection-form .selectors-container .select__control {
    width: 35vw;
    min-width: 300px;
  }
}

.option-selection-form .selectors-container .select__control:hover {
  border-bottom-color: black;
}

.option-selection-form .selectors-container .select__control svg {
  color: black;
}

.option-selection-form .selectors-container .select__control .css-1okebmr-indicatorSeparator {
  display: none;
}

.option-selection-form .selectors-container .select__control .css-1gtu0rj-indicatorContainer {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.option-selection-form .selectors-container .select__control .select__indicator {
  -webkit-transition: -webkit-transform 0.15s ease-in;
  transition: -webkit-transform 0.15s ease-in;
  transition: transform 0.15s ease-in;
  transition: transform 0.15s ease-in, -webkit-transform 0.15s ease-in;
}

.option-selection-form .selectors-container #country .css-1wa3eu0-placeholder {
  color: #00000085;
}

.option-selection-form .selectors-container #category {
  opacity: 0;
  -webkit-animation: fade-in 0.2s ease-in normal forwards;
          animation: fade-in 0.2s ease-in normal forwards;
}

.option-selection-form #go-btn,
.option-selection-form #go-btn-loading {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  background: #f0d700;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1em;
  -webkit-transition: background 0.15s ease-in;
  transition: background 0.15s ease-in;
  padding: 10px 40px;
  overflow: hidden;
  position: relative;
}

.option-selection-form #go-btn:hover, .option-selection-form #go-btn:focus,
.option-selection-form #go-btn-loading:hover,
.option-selection-form #go-btn-loading:focus {
  background: #ffe500;
}

.option-selection-form #go-btn:hover .btn-label i, .option-selection-form #go-btn:focus .btn-label i,
.option-selection-form #go-btn-loading:hover .btn-label i,
.option-selection-form #go-btn-loading:focus .btn-label i {
  -webkit-transform: translateX(35%) scale(1.5);
          transform: translateX(35%) scale(1.5);
}

.option-selection-form #go-btn .btn-label,
.option-selection-form #go-btn-loading .btn-label {
  color: white;
  position: relative;
  z-index: 1;
}

.option-selection-form #go-btn .btn-label i,
.option-selection-form #go-btn-loading .btn-label i {
  color: white;
  -webkit-transition: -webkit-transform 0.15s ease-in;
  transition: -webkit-transform 0.15s ease-in;
  transition: transform 0.15s ease-in;
  transition: transform 0.15s ease-in, -webkit-transform 0.15s ease-in;
}

.option-selection-form #go-btn-loading:after, .option-selection-form #go-btn-loading:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 40px;
  -webkit-transform: skewX(-10deg);
          transform: skewX(-10deg);
  background: #ffef66;
  -webkit-animation: move-right 0.7s ease-in 0s infinite;
          animation: move-right 0.7s ease-in 0s infinite;
}

.option-selection-form #go-btn-loading:after {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.option-selection-form #go-btn-loading:before {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.search-box {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  position: relative;
  margin: 30px 10vw 0 auto;
}

@media screen and (max-width: 760px) {
  .search-box {
    margin: 0px auto;
  }
}

.search-box .search-field {
  width: 20vw;
  min-width: 300px;
  font-size: 1em;
  padding: 12px;
  padding-right: 35px;
  border: none;
  background: #ffffff;
  -webkit-box-shadow: 0 8px 5px -5px #a5a5a5;
          box-shadow: 0 8px 5px -5px #a5a5a5;
  -webkit-transition: -webkit-box-shadow 0.15s ease-in;
  transition: -webkit-box-shadow 0.15s ease-in;
  transition: box-shadow 0.15s ease-in;
  transition: box-shadow 0.15s ease-in, -webkit-box-shadow 0.15s ease-in;
}

.search-box .search-field:focus {
  outline: none;
  -webkit-box-shadow: 0 8px 5px -2px #a5a5a5;
          box-shadow: 0 8px 5px -2px #a5a5a5;
}

.search-box .search-btn {
  border: none;
  background: transparent;
  position: absolute;
  color: #333333;
  font-size: 20px;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

.leaderboard {
  background: whitesmoke;
  padding: 70px 0;
  display: -ms-grid;
  display: grid;
  row-gap: 55px;
}

.leaderboard .leaderboard-title-container {
  position: relative;
}

.leaderboard .leaderboard-title-container:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-top: 5px solid white;
  width: 630px;
  -webkit-box-shadow: 0 3px 8px #333333;
          box-shadow: 0 3px 8px #333333;
}

@media screen and (max-width: 760px) {
  .leaderboard .leaderboard-title-container:after {
    width: 95%;
  }
}

.leaderboard .leaderboard-title-container .leaderboard-title {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), color-stop(#f5f5f5), color-stop(#027679), to(#05eff6));
  background-image: linear-gradient(180deg, #f5f5f5, #f5f5f5, #027679, #05eff6);
  background-size: 100% 300%;
  background-repeat: no-repeat;
  -webkit-transition: background-position 0.5s ease-in,color 0.15s ease-in,-webkit-box-shadow 0.5s ease-in;
  transition: background-position 0.5s ease-in,color 0.15s ease-in,-webkit-box-shadow 0.5s ease-in;
  transition: background-position 0.5s ease-in,box-shadow 0.5s ease-in, color 0.15s ease-in;
  transition: background-position 0.5s ease-in,box-shadow 0.5s ease-in, color 0.15s ease-in,-webkit-box-shadow 0.5s ease-in;
  font-size: 3em;
  font-family: "Lato", sans-serif;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 3px solid #333333;
  padding: 5px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 760px) {
  .leaderboard .leaderboard-title-container .leaderboard-title {
    font-size: 2em;
  }
}

.leaderboard .leaderboard-title-container .leaderboard-title:before, .leaderboard .leaderboard-title-container .leaderboard-title:after {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 30px;
  width: 30px;
  background: #333333;
}

.leaderboard .leaderboard-title-container .leaderboard-title:before {
  left: -33px;
  -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
          clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

.leaderboard .leaderboard-title-container .leaderboard-title:after {
  right: -33px;
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
          clip-path: polygon(0 0, 0% 100%, 100% 100%);
}

.leaderboard #table-container {
  background: white;
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 760px) {
  .leaderboard #table-container {
    overflow-x: scroll;
    overflow-y: hidden;
    width: 95%;
  }
}

.leaderboard #table-container #table-title {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(65px, 0.2fr) (minmax(100px, 1fr))[3];
      grid-template-columns: minmax(65px, 0.2fr) repeat(3, minmax(100px, 1fr));
  background-image: -webkit-gradient(linear, left top, right top, from(#000000ad), to(black));
  background-image: linear-gradient(90deg, #000000ad, black);
  font-size: 1.3em;
}

.leaderboard #table-container #table-title span {
  padding: 15px;
}

.leaderboard #table-container #table-title .row-data {
  margin: auto 0;
}

.leaderboard #table-container #table-title .row-data.serial-no {
  text-align: center;
}

.leaderboard #table-container #table-title .row-data.title .app-title-playstore-link,
.leaderboard #table-container #table-title .row-data.title .app-details-link,
.leaderboard #table-container #table-title .row-data.details .app-title-playstore-link,
.leaderboard #table-container #table-title .row-data.details .app-details-link {
  text-decoration: none;
  color: #333333;
}

.leaderboard #table-container #table-title .row-data.details .app-details-link:hover {
  font-weight: bold;
}

.leaderboard #table-container #table-title .row-data.details .app-details-link:hover i {
  -webkit-transform: translateX(35%);
          transform: translateX(35%);
}

.leaderboard #table-container #table-title .row-data.details .app-details-link i {
  -webkit-transition: -webkit-transform 0.15s ease-in;
  transition: -webkit-transform 0.15s ease-in;
  transition: transform 0.15s ease-in;
  transition: transform 0.15s ease-in, -webkit-transform 0.15s ease-in;
}

.leaderboard #table-container #table-title .row-data.title .app-title-playstore-link:hover {
  font-weight: normal;
  text-decoration: underline;
}

@media screen and (max-width: 400px) {
  .leaderboard #table-container #table-title {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    padding: 0;
  }
}

.leaderboard #table-container #table-title .title {
  font-weight: bold;
  color: white;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  padding: 20px 15px;
}

.leaderboard #table-container .table-row,
.leaderboard #table-container .table-row-loading {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(65px, 0.2fr) (minmax(100px, 1fr))[3];
      grid-template-columns: minmax(65px, 0.2fr) repeat(3, minmax(100px, 1fr));
  border-bottom: 1px solid #00000012;
  opacity: 0;
  -webkit-transition: background 0.15s ease-in, -webkit-transform;
  transition: background 0.15s ease-in, -webkit-transform;
  transition: transform, background 0.15s ease-in;
  transition: transform, background 0.15s ease-in, -webkit-transform;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.leaderboard #table-container .table-row span,
.leaderboard #table-container .table-row-loading span {
  padding: 15px;
}

.leaderboard #table-container .table-row .row-data,
.leaderboard #table-container .table-row-loading .row-data {
  margin: auto 0;
}

.leaderboard #table-container .table-row .row-data.serial-no,
.leaderboard #table-container .table-row-loading .row-data.serial-no {
  text-align: center;
}

.leaderboard #table-container .table-row .row-data.title .app-title-playstore-link,
.leaderboard #table-container .table-row .row-data.title .app-details-link,
.leaderboard #table-container .table-row .row-data.details .app-title-playstore-link,
.leaderboard #table-container .table-row .row-data.details .app-details-link,
.leaderboard #table-container .table-row-loading .row-data.title .app-title-playstore-link,
.leaderboard #table-container .table-row-loading .row-data.title .app-details-link,
.leaderboard #table-container .table-row-loading .row-data.details .app-title-playstore-link,
.leaderboard #table-container .table-row-loading .row-data.details .app-details-link {
  text-decoration: none;
  color: #333333;
}

.leaderboard #table-container .table-row .row-data.details .app-details-link:hover,
.leaderboard #table-container .table-row-loading .row-data.details .app-details-link:hover {
  font-weight: bold;
}

.leaderboard #table-container .table-row .row-data.details .app-details-link:hover i,
.leaderboard #table-container .table-row-loading .row-data.details .app-details-link:hover i {
  -webkit-transform: translateX(35%);
          transform: translateX(35%);
}

.leaderboard #table-container .table-row .row-data.details .app-details-link i,
.leaderboard #table-container .table-row-loading .row-data.details .app-details-link i {
  -webkit-transition: -webkit-transform 0.15s ease-in;
  transition: -webkit-transform 0.15s ease-in;
  transition: transform 0.15s ease-in;
  transition: transform 0.15s ease-in, -webkit-transform 0.15s ease-in;
}

.leaderboard #table-container .table-row .row-data.title .app-title-playstore-link:hover,
.leaderboard #table-container .table-row-loading .row-data.title .app-title-playstore-link:hover {
  font-weight: normal;
  text-decoration: underline;
}

@media screen and (max-width: 400px) {
  .leaderboard #table-container .table-row,
  .leaderboard #table-container .table-row-loading {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    padding: 0;
  }
}

.leaderboard #table-container .table-row:last-child,
.leaderboard #table-container .table-row-loading:last-child {
  border: none;
}

.leaderboard #table-container .table-row:hover {
  background: #eff5ff;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  border: none;
  -webkit-box-shadow: 0 5px 10px #bcd6ff;
          box-shadow: 0 5px 10px #bcd6ff;
}

.leaderboard #table-container .table-row-loading {
  opacity: 1;
  padding: 45px 0;
  position: relative;
  overflow: hidden;
  background: #eeeeee;
}

.leaderboard #table-container .table-row-loading:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -100%;
  height: 85%;
  width: 100%;
  background: -webkit-gradient(linear, right top, left top, from(#e9e9e9), to(#e7e7e7));
  background: linear-gradient(-90deg, #e9e9e9, #e7e7e7);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-animation: move-right 1s ease-in-out 0s infinite;
          animation: move-right 1s ease-in-out 0s infinite;
}

/* pagination */
.pagination {
  margin-top: -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

.pagination .page-numbers {
  margin: 5px;
  cursor: pointer;
}

.pagination .page-numbers:hover, .pagination .page-numbers:target {
  color: #70a7ff;
}

.pagination .page-numbers i.fas {
  font-size: 2.5em;
}

.pagination .page-numbers.active {
  color: #70a7ff;
}

.app-details-container {
  background: whitesmoke;
}

.app-details-container .app-details-header {
  padding: 70px 0;
  padding-bottom: 190px;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  row-gap: 20px;
}

.app-details-container .app-details-header .app-title {
  font-size: 2.5em;
  text-align: center;
  padding: 0 20px;
}

.app-details-container .app-details-header .app-summary {
  padding: 0 20px;
}

.app-details-container .app-details-body {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  background: #038e92;
  position: relative;
  top: 0;
  bottom: 0;
}

.app-details-container .app-details-body:before, .app-details-container .app-details-body:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 65%;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 760px) {
  .app-details-container .app-details-body:before, .app-details-container .app-details-body:after {
    height: 40%;
  }
}

@media screen and (max-width: 760px) {
  .app-details-container .app-details-body:before, .app-details-container .app-details-body:after {
    height: 20%;
  }
}

.app-details-container .app-details-body:before {
  top: 0;
  background-image: url("../assets/svg/wave-primary-top.svg");
  -webkit-transform: translateY(-99%);
          transform: translateY(-99%);
}

.app-details-container .app-details-body:after {
  bottom: 0;
  background-image: url("../assets/svg/wave-primary-bottom.svg");
  -webkit-transform: translateY(90%);
          transform: translateY(90%);
  z-index: -1;
}

.app-details-container .app-details-body .app-header-img-container {
  position: absolute;
  top: -125px;
}

.app-details-container .app-details-body .app-header-img-container .header-img {
  width: 100%;
}

@media screen and (max-width: 400px) {
  .app-details-container .app-details-body .app-header-img-container .header-img {
    height: 45vw;
  }
}

.app-details-container .app-details-body .app-description {
  margin-top: 125px;
  padding: 30px 0;
  display: -ms-grid;
  display: grid;
  row-gap: 20px;
  width: 30vw;
  min-width: 400px;
  position: relative;
}

@media screen and (max-width: 760px) {
  .app-details-container .app-details-body .app-description {
    width: 70vw;
    min-width: 240px;
  }
}

@media screen and (max-width: 512px) {
  .app-details-container .app-details-body .app-description {
    margin-top: 30px;
  }
}

.app-details-container .app-details-body .app-description .description-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: rgba(245, 245, 245, 0.822);
}

.app-details-container .app-details-body .app-description .description-section .description-label {
  color: white;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  font-style: italic;
  font-variant: petite-caps;
}

.app-details-container .app-details-body .download-btn {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  background: #f0d700;
  color: white;
  padding: 10px 20px;
  margin-top: 40px;
  border-radius: 30px;
  -webkit-transition: background, -webkit-box-shadow 0.2s linear;
  transition: background, -webkit-box-shadow 0.2s linear;
  transition: background, box-shadow 0.2s linear;
  transition: background, box-shadow 0.2s linear, -webkit-box-shadow 0.2s linear;
}

.app-details-container .app-details-body .download-btn:hover {
  background: #ffe500;
  -webkit-box-shadow: 0 0 15px #ffed4d;
          box-shadow: 0 0 15px #ffed4d;
}

.app-details-container .app-details-body .download-btn:hover i {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.app-details-container .app-details-body .download-btn i {
  color: white;
  margin-left: 5px;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

.no-content {
  padding: 60px 0;
  font-size: 1em;
  text-align: center;
  opacity: 0;
  -webkit-animation: fade-in 0.5s ease-in;
          animation: fade-in 0.5s ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.no-content .alert {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-orientation: sideways-right;
  word-spacing: 5px;
}

.no-content .alert i {
  color: inherit;
  font-size: 1.5em;
}

.no-content .alert-danger {
  color: red;
}

.no-content .no-data {
  color: #038e92;
}

.no-content .no-data-img {
  width: 300px;
}

button[type="submit"]:focus {
  outline: none;
}

.record0 {
  -webkit-animation: fade-in 0.5s ease-in;
          animation: fade-in 0.5s ease-in;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.record1 {
  -webkit-animation: fade-in 0.5s ease-in;
          animation: fade-in 0.5s ease-in;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.record2 {
  -webkit-animation: fade-in 0.5s ease-in;
          animation: fade-in 0.5s ease-in;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.record3 {
  -webkit-animation: fade-in 0.5s ease-in;
          animation: fade-in 0.5s ease-in;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.record4 {
  -webkit-animation: fade-in 0.5s ease-in;
          animation: fade-in 0.5s ease-in;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.record5 {
  -webkit-animation: fade-in 0.5s ease-in;
          animation: fade-in 0.5s ease-in;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.record6 {
  -webkit-animation: fade-in 0.5s ease-in;
          animation: fade-in 0.5s ease-in;
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

.record7 {
  -webkit-animation: fade-in 0.5s ease-in;
          animation: fade-in 0.5s ease-in;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.record8 {
  -webkit-animation: fade-in 0.5s ease-in;
          animation: fade-in 0.5s ease-in;
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
}

.record9 {
  -webkit-animation: fade-in 0.5s ease-in;
          animation: fade-in 0.5s ease-in;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes move-right {
  from {
    left: -100%;
  }
  to {
    left: 100%;
  }
}

@keyframes move-right {
  from {
    left: -100%;
  }
  to {
    left: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */